.article{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // background: var(--primary-color-bg);
    background: #f4f5f9;
    width: 100vw;
    min-height: 100vh;
}