.container {
    z-index: 1;
    height: 90%;
    width: 30%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;


    .right {
        height: 100%;
        width: 100%;
        background: white;
        border-radius: 40px;
        -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.71);
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.71);
        display: flex;
        flex-direction: column;
        .logo {
            width: 100%;
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;


            img {
                width: 200px;
                border-radius: 8px;
            }
        }

        .form {
            display: flex;
            align-items: center;
            height: 70%;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .center {
                display: flex;
                flex-direction: column;
                width: 75%;

                .title {
                    font-family: "Poppins Regular";
                    font-size: 30px;
                    font-weight: 500;
                    // margin-bottom: 15px;
                    margin-top: 25px;
                    letter-spacing: 4px;
                    // text-align: center;
                }

                .thing {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 8px;

                    button {
                        width: 48%;
                        height: 50px;
                        border-radius: 12px;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        &.fb {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: transparent;
                            border: 3px solid var(--primary-color-bg);

                            .icon {
                                color: var(--primary-dark-color);
                                margin-right: 5px;
                            }
                        }

                        &.gg {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--primary-color-bg);

                            .icon {
                                color: var(--primary-dark-color);
                                margin-right: 5px;
                            }
                        }
                    }

                    &.lg {
                        justify-content: center;
                        margin: 10px 0;
                        font-size: 16px;
                        font-weight: 300;
                        color: grey;
                    }

                    .placeHolder,
                    .forget {
                        margin-top: 8px;
                        font-size: 16px;
                        font-weight: 300;
                        color: grey;
                    }

                    .forget {
                        color: var(--primary-dark-color);
                        cursor: pointer;
                    }
                }

                .input {
                    // border: 2px solid grey;
                    border-radius: 12px;
                    height: 50px;
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--primary-color-bg);


                    input {
                        height: 48px;
                        width: 98%;
                        border: none;
                        outline: none;
                        background: transparent;
                    }
                }

                .loginBtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 50px;
                    margin-top: 25px;
                    transition: all .3s ease-in-out;
                    cursor: pointer;

                    button {
                        width: 100%;
                        height: 50px;
                        border-radius: 12px;
                        border: none;
                        outline: none;
                        background: var(--primary-dark-color);
                        transition: all .3s ease-in-out;
                        color: white;
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: 400;
                    }

                    &:hover {
                        button {
                            width: 100%;
                            height: 50px;
                            font-size: 24px;
                            border-radius: 12px;
                            border: 2px solid var(--primary-dark-color);
                            outline: none;
                            background: transparent;
                            color: var(--primary-dark-color);
                        }
                    }
                }
            }
        }

        .login-div {
            width: 100%;
            height:15%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            span {
                .link {
                    text-decoration: none;
                    color: var(--primary-dark-color);
                    cursor: pointer;
                }

            }
        }


    }
}

@media(max-width:1440px) {
    .register{
        .container {
            width: 40%;
            height: 85%;
        }
    
        .container .right .logo {
            img {
                width: 150px;
            }
        }
    
        .container .right .login-div {
            height: 10%;
            margin-top: 70px;
    
        }
        .right .form .center {

            .title {
                font-size: 28px;
                margin-top: 70px;
            }
            .placeHolder , .forget{
                margin-top: 10px;
                font-size: 14px;
            }
            .thing{
                margin-top: 0;
                &.lg span{
                    margin-top: 20px;
                }
            }
            .loginBtn{
                margin-top: 20px;
            }
        }
    }
    
}

@media(max-width:1120px) {
    .register{
        .container {
            width: 60%;
            height: 85%;
    
        }
        .right .form .center {

            .title {
                font-size: 28px;
                margin-top: 70px;
            }
            .placeHolder , .forget{
                margin-top: 10px;
                font-size: 14px;
            }
            .thing{
                margin-top: 0;
                &.lg span{
                    margin-top: 20px;
                }
            }
            .loginBtn{
                margin-top: 20px;
            }
        }
        .container .right .logo {
            img {
                width: 150px;
            }
        }
    
        .container .right .login-div {
            height: 10%;
            margin-top: 70px;
    
        }
    }
    
}

@media(max-width:620px) {
    .register{
        .container {
            width: 90%;
            height: 85%;
        }
    
        .container .right .logo {
            img {
                width: 150px;
            }
        }
        .right .form .center {

            .title {
                font-size: 28px;
                margin-top: 70px;
            }
            .placeHolder , .forget{
                margin-top: 10px;
                font-size: 14px;
            }
            .thing{
                margin-top: 0;
                &.lg span{
                    // margin-top: 20px;
                }
            }
            .loginBtn{
                margin-top: 20px;
            }
        }
    
        .container .right .login-div {
            height: 15%;
            margin-top: 70px;
        }
    }
    
    
}

@media(max-width:400px) {
    .register{
        .container {
            width: 90%;
            height: 80%;
    
            .right .form .center {
                .title {
                    font-size: 22px;
                    margin-top: 40px;
                }
                
                .thing{
                    margin-top: 0;
                    &.lg span{
                        margin-top: 20px;
                    }
                }
                .placeHolder , .forget{
                    margin-top: 10px;
                    font-size: 14px;
                }
                .loginBtn{
                    margin-top: 20px;
                } 
            }
        }
    
        .container .right .logo {
            img {
                width: 150px;
            }
        }
    
        .container .right .register-div {
            height: 5%;
            margin-top: 100px;
    
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
            }
        }
    } 
}