.App {
  padding   : 0;
  margin    : 0;
}
body{
  background: #f4f5f9;
  overflow-x: hidden;
}
:root {
  --primary-color-bg  : #cde0ff46;
  --primary-dark-color: #8275FF;
  --webkit-box-shadow : 0px 0px 6px -1px rgba(0, 0, 0, 0.63);
  --box-shadow        : 0px 0px 9px 2px rgba(46, 114, 232, 0.79);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins Bold";
  /*Can be any text*/
  src        : local("Poppins-Bold"),
    url("../src/assaets/fonts/Poppins-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Poppins Regular";
  /*Can be any text*/
  src        : local("Poppins-Regular"),
    url("../src/assaets/fonts/Poppins-Regular.otf") format("truetype");
}

@font-face {
  font-family: "rimouski-sb";
  /*Can be any text*/
  src        : local("rimouski-sb"),
    url("../src/assaets/fonts/rimouski-sb.ttf") format("truetype");
}